*{
	font-family: 'Edu VIC WA NT Beginner', sans-serif;
}
#navbaR{
	font-family: 'Edu VIC WA NT Beginner', cursive;
}

.best{
	text-align: center;
	font-family: system-ui;
	letter-spacing: 3px;
}
hr{
	width: 73%;
}
.qw{
	border: 1px solid black;
	border-radius: 4px;
	background: white;

}
.bi{
	margin: 5px;
}
a{
	letter-spacing: 3px;
	color: black;
}
a:hover{
	text-decoration: none;
	color: gray;
}
.bebra{
	background: #6c757d;
}
.qwer{
	margin-left: 10px;
}
.header{
	background: url(https://cdn.motor1.com/images/mgl/Vz8VzM/s1/2022-porsche-macan-t.jpg);
	background-attachment: fixed;
	background-size: cover;
}
h1{
	text-align: center;
	font-family: 'Edu VIC WA NT Beginner', sans-serif;
}
.headerContent h1{
	letter-spacing: 10px;
	color: white;
}
.headerContent p{
	font-size: 1.5rem;
	color: white;
}
.headerContent{
	position: absolute;
	color: white;
	top: 30%;
	min-width: 100%;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	right: 0;
	background: rgba(69, 69, 69, 0.35);
}
.pic{
	
}
